:root {
    --md-text-font-family: "72";
  }


.md-typeset h1 {
    font-size: 28px;
    }

.md-typeset h2 {
    font-size: 24px;
  }

.md-typeset h3 {
    font-size: 22px;
  }  

.md-typeset p {
    font-size:16px;
  }   

.md-nav {
    font: size 14px;
  }     